.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95vw;
    max-width: 600px;
    height: 95vh;
    max-height: 332px;
    border: 2px solid #2F3336;
    color: #fff;
}
.joke__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 232px;
    border-bottom: 2px solid #2F3336;
}

.user__profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 82px;
}
.user__info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}
.user__info img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


.user__name h1{
    
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
.user__name a{
    font-size: 1rem;
    color: #6B7075;
    font-weight: 500;
    text-decoration: none;
    text-transform: lowercase;
    transition: 0.2s;
}
.user__name a:hover{
    text-decoration: underline;
}

.joke__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}
.joke__content :first-child{
    margin-top: 20px;
}
.joke__content p{
    max-width: 90%;
    padding-left: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.button__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.new__joke-btn{
    border: 0;
    outline: 0;
    padding: 0.8rem 2rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 99px;
    background-color: #1D9BF0;
    transition: 0.2s;
}
.new__joke-btn:hover{
    background-color: #1A8CD8;
}
.new__joke-btn:disabled{
    cursor: progress;
    background-color: #166da7;
}

@media(max-width:767px){
    .new__joke-btn{
        font-size: 1.2rem;
    }
}
